* {
    background-color: #efefcb;
    font-family: 'Papyrus', 'comic sans';
    color:black;
}

img {
    max-width: 50%;
}

body {
    margin: 5% 10% 0 10%;
}

.tagline,
.webname {
    text-align: center;
    font-stretch: ultra-expanded;
}

.webname {
    font-size: x-large;
}

.tagline {
    font-size: larger;
}

.splash {
    display: block;
    margin: 0 auto;
    max-height: 30%;
}

li {
    color: black;
}

h2 {
    text-align: center;
}

ul {
    margin: 0 auto;
    text-align: left;
}

ul.frontlist {
    list-style: disc;
}